.App {
  text-align: center;

}

.container {
  max-width: 100%;
  display: grid;
  /*grid-template-rows: 100px auto 50px;*/
/*  Руина выше  из-за него карточки схлопнуты*/
}

.container>* {
  padding: 0 50px;
}

.wrapper {
  min-height: 95vh;
}

.wrapper>* {
  padding: 0 calc(50% - 600px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 160px) {
  .container>* {
    padding: 0 30px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
